* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}

.main {
  margin-bottom: 100px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px;
  width: 90%;
}

.container img {
  width: 100%;
}

h1,
h3 {
  color: #3c388d;
}

a {
  color: #3354a1;
}

ol > li {
  margin-bottom: 25px;
}

ol > li > img {
  margin: 5px 0;
}

code {
  display: block;
  margin: 5px 0;
  color: #652580;
  font-size: 12px;
}
